* {
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style: none;
  outline: none;
}
body {
  font-family: "vazir" !important;
  direction: rtl;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(235, 255, 250);
}
.section-center {
  width: 600px;
}

.section-center h4 {
  font-size: 40px;
  padding: 30px 0;
}
.section-center label {
  font-size: 20px;
}
.section-center input {
  border: 1px solid rgb(235, 235, 235);
  padding: 15px;
  width: 50%;
  font-size: 20px;
}
.section-center button {
  border: none;
  background: #c00;
  width: 40%;
  color: #fff;
  cursor: pointer;
  padding: 15px;
  font-size: 25px;
  font-weight: 600;
  letter-spacing: 1px;
  margin-right: 25px;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}
.section-center button:hover {
  background-color:rgb(143, 20, 20) ;
}
.section-center p {
  margin-top: 50px;
  font-size: 20px;
}
